apiVersion: v1
kind: Service
metadata:
  name: eau-service
  namespace: irrigation-system
spec:
  type: ClusterIP
  ports:
  - port: 9093
    targetPort: 9093
    protocol: TCP
    name: http
  selector:
    app: eau-service
