apiVersion: v1
kind: Service
metadata:
  name: energy-service
  namespace: irrigation-system
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: http
  selector:
    app: energy-service
